<h1>Have Someone to Recommend this link to? Enter their email address below:</h1>

<!--<form action="/" autocomplete="on" method="POST">-->
  <!--<p><label>Email Address: </label><input type="text" name="user"></p>-->
  <!--<input type="submit" value="Send Recommendation">-->
<!--</form>-->


<h1>Send Email</h1>


<%= form_tag method: 'send_email' do %>
  <p><label for="email_subject">Subject</label>:
    <%= text_field 'email_subject', 'subject' %></p>
  <p><label for="email_recipient">Recipient</label>:
    <%= text_field 'email_recipient', 'recipient' %></p>
  <%= submit_tag "Send" %>
<% end %>
