<header class="navigation" role="banner">
  <div class="navigation-tools">
    <ul>
      <ul class="nav-link"></ul>
      <% if current_user %>
        <ul class="nav-link"><%= link_to 'Logout', logout_path %></ul>
      <% else %>
        <ul class="nav-link">
          <%= link_to 'Sign Up', new_user_path %><br>
          <%= link_to 'Log In', login_path %>
        </ul>
      <% end %>
    </ul>
  </div>
</header>
